tp2/src/xsd/BanqueService.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion, getCompte , getComptes)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)><!--#NMTOKEN n'accepte pas les espaces  -->

<!ELEMENT getCompte (Compte)>
<!ELEMENT BanqueService (Compte+)>
<!ELEMENT Compte (code,solde,dateCreation)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>